<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <h2>このエリアから探す</h2>
      <h4><%= @area %></h4>
      <h5><%= link_to "地図を見る", maps_path(area: @area) %></h5>
    </div
    <div class='col-md-8 offset-md-1'>
      <h2>検索結果</h2>
      <%= render 'public/item/index',items: @items %>
    </div>
  </div>
</div>