<section class="jumbotron text-center">
      <!-- <h1 class="jumbotron-heading">Album example</h1> -->
      <h2 class="jumbotron-heading">検索結果<span class="small">(全 <%= @items.count %> 件)</span></h2>
      <% if @items.present? %>
      <h2>このエリアから探す</h2>
      <h4><%= @area %></h4>
      <% end %>
      
      <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p> -->
</section>


<div class="container">
  <div class="row">
   <div class="text-center">
    <% if @items.present? %>
      <div id='map'></div>
    <% end %>
   </div>
  </div>
 </div>

<style>

 #map{

  height: 700px;
  width:  1200px;
 }

</style>



<script>

 let map;

 let marker = []; // マーカーを複数表示させたいので、配列化

 let infoWindow = []; // 吹き出しを複数表示させたいので、配列化

 const items = gon.items; // コントローラーで定義したインスタンス変数を変数に代入



 function initMap(){


   // LatLngに位置座標を代入

   LatLng = new google.maps.LatLng(gon.lat,gon.lag);



   // mapの初期位置設定

   map = new google.maps.Map(document.getElementById('map'), {

    center: LatLng,

    zoom: gon.zoom

   });

  



   // forは繰り返し処理

   // 変数iを0と定義し、

   // その後gonで定義したitems分繰り返し加える処理を行う

   for (let i = 0; i < items.length; i++){

    // items[i]は変数iのユーザーを取得している

    marker[i] = new google.maps.Marker({

     map: map,

     position: {

      // DBに保存してある、緯度・経度を呼び出す

      lat: items[i].latitude,

      lng: items[i].longitude

     }

    });
    
    



    // 変数iを変数idに代入

    let id = items[i]['id']



    // infoWindowは吹き出し

    infoWindow[i] = new google.maps.InfoWindow({

     // contentで中身を指定

     // 今回は文字にリンクを貼り付けた形で表示

     content: `<a href='/items/${id}'>${items[i].shopname}</a>`

    });

    // markerがクリックされた時、

    marker[i].addListener("click", function(){

     // infoWindowを表示

     infoWindow[i].open(map, marker[i]);

    });
    
    

   }


 }

</script>



<script async defer

   src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap">

</script>

