<div class="container">
  <div class="row">
    <div class='mx-auto col-12'>
      <div class="text-center">
        <p class="h1">～Furugi～</p>
        <p>洋服は世代を超えて愛される。</p>
        <p>不要なものだと思うものは別の誰かは必要かもしれない。</p>
        <p>そんな巡り合わせを大切に便利をお届けしたい気持ちで</p>
        <p>こちらのサイトを制作してみました。</p>
        <p>是非ともご活用ください。</p>
        <%= image_tag('about.png') %><br>
      </div>
    </div>
  </div>
</div>