<% if item.favorited_by?(current_customer) %>
 <p>
  <%= link_to item_favorites_path(item), method: :delete, remote: true do %>
   <i class="fas fa-heart " aria-hidden="true" style="color: red; font-size:1.3em;"></i>
   <%= item.favorites.count %>
  <% end %>
 </p>
<% else %>
 <p>
  <%= link_to item_favorites_path(item), method: :post, remote: true do %>
   <i class="fas fa-heart " aria-hidden="true" style="color: red; font-size:1.3em;"></i>
   <%= item.favorites.count %>
   <% end %>
 </p>
<% end %>